* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    text-align: center;
}

body {
    display: flex;
}

nav {
    background-color: maroon;
    height: 100vh;
    width: 250px;
    border-radius: 0 32px 32px 0;
    padding:  0 30px;
    display: flex;
    flex-direction: column;
}

.fa-bars {
    color: white;
    font-size: 25px;
    display: none;
}

.menu button {
    background-color: maroon;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.logo {
    font-style: italic;
    font-size: 32px;
    margin: 40px 0 25px 0;
    text-align: left;
    color: white;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu button i {
    display: none;
}
.menu button p {
    text-align: left;
}

.side {
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex: 1;
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.home {
    padding: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    flex: 1;
    width: 100%;
}

.home h1 {
    color: maroon;
    font-size: 48px;
    text-align: left;
}

.home p {
    max-width: 600px;
    font-size: 18px;
    text-align: left;
}

.home button {
    color: white;
    background-color: maroon;
    border: none;
    font-weight: bold;
    font-size: 18px; 
    height: 45px;
    width: 180px;
    border-radius: 8px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px 50px;
    flex-wrap: wrap;
    padding-bottom: 8px;
    padding: 0 30px 10px 30px;
    text-align: center;
}

footer p, footer a {
    color: rgb(90, 90, 90);
    font-size: 15px;

}


.bar {
    width: 320px;
    height: 360px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 24px;
    gap: 10px;
}

.bar h1 {
    font-size: 30px;
    margin-bottom: 10px;
    width: 200px;
    color: maroon;
}

.bar input ,.bar button, .unit select, #result {
    height: 48px;
    width: 240px;
    border-radius: 8px;
    background: rgb(240, 240, 240);
    font-size: 14px;
}

.bar input:focus, .unit select:focus {
    outline: none;
}


.unit, .result {
    width: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

}

.unit select {
    width: 115px;
}

.bar button {
    background-color: maroon;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

#result {
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result p {
    font-size: 15px;
}

@media (max-width: 600px) {
    body {
        flex-direction: column;
    }

    nav {
        width: 100%;
        height: 60px;
        border-radius: 0;
        justify-content: center;
        align-items: center;
        padding: 0;
        position: fixed;
    }

    .head {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        padding: 0 5%;
    }

    .logo {
        margin: 0;
        font-size: 25px;
    }

    .fa-bars {
        display: inline-block;
    }

    .menu {
        display: none;
    }

    .menu.show {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        justify-items: center;
        gap: 0;
        position: absolute;
        height: 120px;
        background-color: maroon;
        top: 60px;
        border-radius: 0 0 25px 25px;
        padding-bottom: 10px;
        box-sizing: content-box;
    }

    .menu button {
        font-weight: bold;
    }

    .menu button i {
        display: inline-block;
        font-size: 20px;
        margin-bottom: 5px;
    }
}